<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link type="text/css" href="../../public//assets/css/style.css" />
        <title>We Love Burgers!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../public/assets/js/burgers.js"></script>
    </head> 
    <body>
        {{{ body }}}
    </body>
</html>